!!! 5
html(ng-app)
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Linvo Application

    // Libraries
    script(src='assets/js/jquery-2.0.3.min.js')
    script(src='assets/js/angular.min.js')
    
    // Controllers
    script(src='linvoApp.js')
    
    // Stylesheets
    link(rel='stylesheet', href='stylesheets/linvoApp.css')

  body(ng-controller="linvoAppCtrl")
    h1 Linvo Application
    {{message}}
