!!! 5
html(ng-app="contacts")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Linvo Application

    // Libraries
    script(src='bower_components/jquery/jquery.min.js')
    script(src='bower_components/angular/angular.min.js')
    
    link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

    link(rel="stylesheet",href="bower_components/font-awesome/css/font-awesome.min.css")
    
    // Controllers
    script(src='linvoApp.js')
    
    // Models
    script(src='models/contact.js')
        
    // Stylesheets
    link(rel='stylesheet', href='stylesheets/linvoApp.css')

  body(ng-controller="linvoAppCtrl")
    .row
        .col-xs-4
            form#edit-contact(role="form")
                .form-group
                    input.form-control(placeholder="first name",ng-model="selected.contact.firstName")
                    input.form-control(placeholder="last name",ng-model="selected.contact.lastName")
                .form-group
                    input.form-control(placeholder="phone",type="tel",ng-model="selected.contact.phone")
                .form-group
                    input.form-control(placeholder="position",type="tel",ng-model="selected.contact.position")
                .form-group
                    input.form-control(placeholder="birth date",type="date",ng-model="selected.contact.birth")
                button.btn.btn-success(ng-click="selected.contact.save()",type="button") Save
                button.btn.btn-primary(ng-click="new()") New
        .col-xs-4
            h2 Contacts
            .contact(
                    ng-repeat="contact in contacts.res",
                    ng-class="{selected: contact._id == selected.contact._id}",
                    ng-click="selected.contact = contact.copy()"
                )
                h3 
                    span {{contact.firstName}} {{contact.lastName}}
                    button.btn.btn-danger.pull-right(ng-click="contact.remove()")
                        i.fa.fa-minus-circle
