!!! 5
html(ng-app="contacts")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Linvo Application

    // Libraries
    script(src='bower_components/jquery/jquery.min.js')
    script(src='bower_components/angular/angular.min.js')
    
    // Controllers
    script(src='linvoApp.js')
    
    // Models
    script(src='models/contact.js')
        
    // Stylesheets
    link(rel='stylesheet', href='stylesheets/linvoApp.css')

  body(ng-controller="linvoAppCtrl")
    h1 Linvo Application
    {{message}}
