!!! 5
html(ng-app="contacts")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Linvo Application

    // Libraries
    script(src='bower_components/jquery/jquery.min.js')
    script(src='bower_components/angular/angular.min.js')
    
    link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    
    // Controllers
    script(src='linvoApp.js')
    
    // Models
    script(src='models/contact.js')
        
    // Stylesheets
    link(rel='stylesheet', href='stylesheets/linvoApp.css')

  body(ng-controller="linvoAppCtrl")
    h1 Linvo Application
    .row
        .col-xs-4
            form(role="form")
                .form-group
                    input.form-control(placeholder="first name",ng-model="selected.firstName")
                    input.form-control(placeholder="last name",ng-model="selected.lastName")
                .form-group
                    input.form-control(placeholder="phone",type="tel",ng-model="selected.phone")
                .form-group
                    input.form-control(placeholder="birth date",type="date",ng-model="selected.birth")
                button.btn.btn-success(ng-click="selected.save()",type="button") Save
